* {
  margin: 0; padding: 0;
}
body {
  font-size: 100%;
}
.accordion {
  width: 100%;
  margin: 20px auto;
}

.accordion a {
    display: block;
    padding: 5px 0px;
}

.accordion > a {
    padding: 15px 20px;
}

.accordion h1 {
    margin-bottom: 5px;
}

.accordion h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion h2, h3, h4 {
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-size: medium;
}
.accordion h1, .accordion > a {
  padding: 15px 20px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  /*font-size: 1.5rem;*/
  font-size: large;
  font-weight: normal;
  color: #e5392c;
}
.accordion div, .accordion p {
  display: none;
}

.accordion div, .accordion > a {
    margin-bottom: 10px;
}

.accordion h2 + div {
    margin-left: 28px;
}

.accordion h3 + div {
    margin-left: 30px;
}

.accordion h1 img, .accordion h2 img, .accordion h3 img {
    width: 20px;
    margin-right: 5px;
}
/*  .accordion h2 blockquote, .accordion h1 blockquote {
   background-image: url('../img/add-icon--icon-search-engine-1.png');
   background-repeat: no-repeat;
} */

.accordion h2 {
  padding: 5px 25px;
  /*font-size: 1.1rem;*/
  color: #333;
}
.accordion h2:hover {
}
.accordion h3 {
  padding: 5px 0px;
  /*font-size: .9rem;*/
  color: #333; 
}

.accordion h2 + div > a {
    padding-left: 10px;
}

.accordion h3 + div > a {
    padding-left: 10px;
}

.accordion h4 {
  padding: 5px 35px;
  /*font-size: .9rem;*/
  color: #af720a; 
}
.accordion p {
  padding: 15px 35px;
  background-color: #333;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  /*font-size: .8rem;*/
  color: #333;
  /*line-height: 1.3rem;*/
}
.accordion .opened-for-codepen {
  display: block;
}

.active {
    background: linear-gradient(#474C8A, #10111E);
    color: #fff;
    /*font-weight: bold;*/

}

.learn {
    background: linear-gradient(#7b7fba, #565ca3);
    color: #fff !important;
}

.block {
    background: linear-gradient(#777, #555);
    color: #fff !important;
}

.wrong {
    background: linear-gradient(#c10000, #222);
    color: #fff !important;

}

.rework {
    background: linear-gradient(#b7c300, #222);
    color: #fff !important;
}